{% set title = 'Home' %} {% extends 'views/_layout.html' %} {% block content %}

<div class="slider">
    <ul class="slides">
        <li>
            <img src="img/img2.jpg">
            <!-- random image -->
            <div class="caption left-align">
                <br />
                <h2>FarmFunda</h2>
                <h4 class="light grey-text text-lighten-3">East Africa's Premier<br /> Farm Funding</h4>
            </div>
        </li>
        <li>
            <img src="img/img3.jpg">
            <br /><br />
            <!-- random image -->
            <div class="caption right-align">
                <h3>Why We Exist</h3>
                <h4 class="light grey-text text-lighten-3">We connect farmers and investors<br /> within East-Africa</h4>
            </div>
        </li>
        <li>
            <img src="img/img4.jpg">
            <!-- random image -->
            <div class="caption left-align">
                <h2>Our Farmers</h2>
                <h4 class="light grey-text text-lighten-3">We work with local farm<br /> unions/corporatives to get direct<br /> access to farmers who really need funding</h4>
            </div>
        </li>
    </ul>
</div>


<div class="row center">
    <div class="col s12 l6 light-blue accent-4" style="height: 200px;">
        <br />
        <h3 class="header col s12 light white-text">Fund A Farm</h3>
        <a class="waves-effect waves-light btn-large light-blue darken-3"><i class="material-icons left">account_balance</i>Invest Now</a>
        <input type="hidden" name="invest" id="invest" value="false" />
        <br />
    </div>
    <div class="col s12 l6 light-green accent-4" style="height: 200px;">
        <br />
        <h3 class="header col s12 light white-text">Start Campaign</h3>
        <a class="waves-effect waves-light btn-large green darken-3"><i class="material-icons left">assignment_turned_in</i>Get Started</a>
        <input type="hidden" name="getStarted" id="getStarted" value="false" />
        <br />
    </div>
    <br><br>

</div>

<div class="row">
    <br />
    <h2 class="center">Invest In A Farm</h2>
    <br /> {% for f in uidata.topfarms %}
    <div class="col s12 l4">
        <div class="card">
            <div class="card-image">
                <img src="img/farmer.jpg">
                <span class="card-title">Farm #: {{ f.farm_id }}</span>
                <a class="btn-floating halfway-fab waves-effect waves-light light-green accent-4"><i class="material-icons">check</i></a>
            </div>
            <div class="card-content light-blue accent-4 white-text">
                <h5>Farmer: {{ f.farmer}}</h5>
                <h5>Since: {{ f.Created_date | shortDate }}</h5>
                <p>Farm Location: {{ f.location}}, {{ f.lga}} {{ f.region}}</p>
            </div>
        </div>
    </div>
    {% endfor %}

</div>
{% endblock %}