{% set title = 'Home' %} {% extends 'views/_layout.html' %} {% block content %}


<div class="row">

    <div class="col s12 l6">
        <div class="card-panel grey lighten-5 z-depth-1">
            <div class="row">
                <div class="col s12 m4">
                    <img src="img/id_300x300.png" alt="" class="circle responsive-img">
                    <!-- notice the "circle" class -->
                </div>
                <div class="col s12 m8 left">
                    <h4>{{ uidata.username }}</h4>
                    <h4>{{ uidata.companyname }}</h4>
                    <h6>{{ uidata.email }}</h6>
                    <h6>{{ uidata.role }}</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 l6">
        <div class="card-panel grey lighten-5 z-depth-1">
            <div class="row">
                <div class="col s12 m10 left">
                    {% if uidata.role == "farmer" %}
                    <h2>Total Funds Raised</h2>
                    <h4>{{ uidata.totalfunds }}</h4>
                    {% endif %} {% if uidata.role == "investor" %}
                    <h2>Total Funds Invested</h2>
                    <h4>{{ uidata.totalfunds }}</h4>
                    {% endif %} {% if uidata.role == "subscriberAdmin" %}
                    <h2>Support Tickets Closed</h2>
                    <h4>{{ uidata.totaltickets }}</h4>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <h2 class="center">My Farm Projects</h2>
    {% for f in uidata.myfarms %}
    <div class="col s12 l4">
        <div class="card">
            <div class="card-image">
                <img src="img/farmimage.png">
                <span class="card-title">Farm #: {{ f.farm_id }}</span>
                <a class="btn-floating halfway-fab waves-effect waves-light light-green accent-4"><i class="material-icons">check</i></a>
            </div>
            <div class="card-content light-blue accent-4 white-text">
                <h5>Farmer: {{ f.farmer}}</h5>
                <h5>Since: {{ f.Created_date | shortDate }}</h5>
                <p>Farm Location: {{ f.location}}, {{ f.lga}} {{ f.region}}</p>
            </div>
        </div>
    </div>
    {% endfor %}

</div>
{% endblock %}